@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Varela+Round&display=swap');
.form-field {
    background: white;
    width: 210px;
}

.label-wrap {
    background: #eee;
    padding: 5px;
}
#label {
    background: #eee;
}
input {
    background: white;
}
.date-picker {
    width: 100%;
}
.react-datepicker__input-container {
    background: white;
}